@charset "utf-8";

.header {
    display: flex;
    justify-content: space-between;
    width: 1728px;
    box-sizing: content-box;
    height: 80px;
    position: fixed;
    padding: 0 96px 0 96px;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid lightgrey;
    background-color: white;

}
.header_menu > ul {
    display: flex;
}
.header_menu > ul > li {
    box-sizing: border-box;
    padding: 0 15px 0 15px;
}
.logo {
    width: auto;
    max-height: 80px;
}
a > #img1 {
    width: 80px;
}
.logo > a > #img2 {
    width: 290px;
    padding-bottom: 6px;
}